* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

:root {
  --cl-primary: #ffeba9;
  --cl-neutral-1: #f8f1e5;
  --cl-neutral-2: #2f3131;
  --cl-neutral-3: #d8dee4;
  --cl-secondary: #525fb3;
  --cl-secondary-tint-1: #d0d6ff;
  --cl-secondary-tint-2: #f1f2f9;
  --cl-secondary-shade-1: #323a71;
  --cl-accent-1: #bf5846;
  --cl-accent-2: #5da368;
  --cl-accent-3: #f99052;
}

html,
body {
  height: 100%;
}

body > div:first-child {
  height: 100%;
}

ul {
  list-style: none;
}

p {
  margin-bottom: 0 !important;
}

.link {
  color: var(--cl-secondary);

  &:hover {
    text-decoration: none;
  }
}
