.card {
  height: calc(5rem + 5vh);
  border: 1px solid black;
  display: flex;
  flex-direction: column;
  min-width: calc(7rem + 10vw);
  max-width: calc(9rem + 12vw);
}

.header {
  border-bottom: 1px solid black;
  padding: 0.2rem .4rem;
}

.body {
  flex-grow: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer {
  border-top: 1px solid black;
  padding: .2rem .4rem;
  display: flex;
  justify-content: space-between;
}