.container {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 2rem;
}

.search {
  width: min(400px, 60vw);
  margin-top: 3rem;
  display: flex;
  flex-direction: column;
  gap: 0.6rem;
}

.debates {
  align-self: stretch;
  flex-grow: 1;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
  grid-column-gap: 3rem;
  grid-row-gap: 2rem;
  grid-auto-rows: max-content;
  padding: 2rem 5rem;
}

.debatesContainer {
  width: 100%;
}

.createDebateBtn {
  margin-inline-start: 2rem;
  cursor: pointer;
}

.debate {
  cursor: pointer;
}

.debate:hover {
  scale: 1.01;
}

.createDebateForm {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.createDebateDialog {
  &>div h6 {
    color: var(--cl-secondary-shade-1);
  }

  &>div > button > span > svg {
    color: var(--cl-secondary-shade-1);
  }
}

.createDebateTitle[class] {
  font-size: 1.8rem;
}