.container {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 2rem;
}

.search {
  width: 40vw;
  margin-top: 3rem;
}

.debates {
  align-self: stretch;
  flex-grow: 1;
}