* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

:root {
  --cl-primary: #FFEBA9;
  --cl-neutral-1: #F8F1E5;
  --cl-neutral-2: #2F3131;
  --cl-secondary: #525FB3;
  --cl-secondary-tint-1: #D0D6FF;
  --cl-secondary-tint-2: #F1F2F9;

  --cl-secondary-shade-1: #323A71;
}

html,
body {
  height: 100%;
}

body>div:first-child {
  height: 100%;
}

ul {
  list-style: none;
}

p {
  margin-bottom: 0 !important;
}

.link {
  color: var(--cl-secondary);

  &:hover {
    text-decoration: none;
  }
}