.container {
  height: 100%;
  display: flex;
  justify-content: center;
  padding-block: 4rem;
  gap: 3rem;
  padding-inline: 1rem;
}

.board {
  border: 1px solid black;
  flex-basis: calc(8rem + 11vw);
  display: flex;
  flex-direction: column;
}

.boardHeader {
  padding: .2rem .5rem;
  border-bottom: 1px solid black;
}

.boardBody {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  padding: .5rem .3rem;
  gap: .7rem;
}

.card {
  border: 1px solid green;
  cursor: pointer;
}

.card:not(.canDrag) {
  opacity: .8;
  cursor: auto;
}

.cardDialogBodyContainer {
  padding: 0;
  display: flex;
  flex-direction: column;
}

.cardDialogHeader {
  display: flex;
  justify-content: space-between;
  padding: .6rem;
  border-bottom: 1px solid black;
}

.cardActions {
  display: flex;
  gap: 1rem;
}

.cardIcon {
  cursor: pointer;
}

.cardIcon:hover {
  transform: scale(1.1);
}

.cardDialogBody {
  padding: .5rem;
}

.cardArgumentContainer[class] {
  width: 100%;
  border: none;
}