.container {
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 4rem;
}

.activities {
  display: flex;
  flex-direction: column;
  gap: 5rem;
  flex-grow: 1;
}

.ongoing,
.solved {
  padding-inline: 7rem;
  width: 90vw;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.ongoing .title,
.solved .title {
  font-size: 2rem;
  display: inline-block;
  background: var(--cl-neutral-1);
  color: var(--cl-secondary);
  padding: 0.2rem 0.7rem;
  border-radius: 7px;
  align-self: flex-start;
  display: flex;
  align-items: center;
  gap: .5rem;
}

.ongoing .list,
.solved .list {
  display: flex;
  gap: 2rem;
  margin-top: 1.5rem;
  overflow-x: auto;
  padding-inline-end: 4rem;
  width: 100vw;
}

.list>li {
  height: calc(5rem + 5vh);
  border: 1px solid black;
  min-width: calc(7rem + 10vw);
}

.header {
  display: flex;
  margin-block-start: 2rem;
  width: 80%;
  margin-inline-start: 4rem;
  justify-content: space-between
}

.pageTitle {
  font-size: 2.4rem;
  color: var(--cl-secondary-shade-1);
}