.container {
  height: 100%;
}

.container>.title {
  padding: 2rem 4rem;
  font-size: 2.5rem;
}

.activities {
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
  gap: 3rem;
}

.ongoing,
.solved {
  padding-inline: 2rem;
}

.ongoing .title,
.solved .title {
  font-size: 2rem;
}

.ongoing .list,
.solved .list {
  display: flex;
  gap: 2rem;
  margin-top: 1.5rem;
  overflow-x: auto;
  padding-inline-end: 4rem;
  width: 100vw;
}