.container {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.buttons {
  display: flex;
  justify-content: flex-end;
  padding: 1.5rem 2rem;
}

.titleContainer {
  text-align: center;
}

.title {
  font-size: 2.4rem;
  color: var(--cl-secondary-shade-1);
}

.argumentContainer {
  flex-grow: 1;
  width: 60vw;
  margin-inline: auto;
  margin-top: 2rem;
  padding-block-end: 2rem;
}

.argumentForm {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.argumentType {
  display: flex;
  gap: .7rem;
}

.radioGroup {
  display: flex;
  align-items: center;
  gap: 0.2rem;
}

.isDisabled {
  cursor: not-allowed;
  color: #ccc;
}

.counterargumentCheck {
  display: flex;
  gap: .7rem;
}

.counterargumentSelect {
  display: flex;
  gap: .7rem;
  align-items: center;
}

.argumentTitle {
  text-align: center;
}

.argumentTitle input {
  font-size: 2.3rem;
  border: none;
  text-align: center;
}

.debateTitleContainer {
  display: flex;
  gap: .3rem;
  align-items: center;
}

.debateIcon {
  width: 1rem;
  height: 1rem;
  display: block;
  background-image: url(/icons/paragraph.svg);
}

.debateInfo {
  width: fit-content;
  margin-inline: auto;
  margin-block-start: 1rem;
  border-radius: 6px;
  background-color: var(--cl-secondary-tint-2);
  color: var(--cl-neutral-2);
}

.counterArgContainer {
  width: 80%;
  margin-inline: auto;
  margin-block-start: .7rem;
}

.loadingSpinner {
  margin-block-start: 3rem;
}

.argTypeLabel {
  padding: 2px 5px;
  line-height: 1;
  border-radius: 3px;
  font-weight: 600;
  color: #fff;

  &.labelPRO {
    background-color: var(--cl-accent-2);
  }

  &.labelCON {
    background-color: var(--cl-accent-1);
  }
}

.counterargumentSelectInput {
  background: var(--cl-secondary-tint-2);
  border: 1px solid var(--cl-neutral-3);
  padding: 2px 5px;
  color: var(--cl-secondary-shade-1);
  font-weight: 600;
}

.argumentEditorContainer {
  border: 1px solid var(--cl-neutral-3GA);
}

.counterargumentTitle {
  color: var(--cl-secondary-shade-1);
  font-weight: 600;
}

.argumentButtons {
  display: flex;
  gap: .4rem;
  align-items: center;
  margin-inline: auto;
}

.counterargumentCheckInput:not(:checked)~.counterargumentSelect>.counterargumentSelectInput {
  opacity: .4;
  cursor: not-allowed;
}