.moderatorArgumentContainer {
  --argument-content-width: calc(20% + 25vw);
}

.debateIcon {
  width: 1rem;
  height: 1rem;
  display: block;
  background-image: url(/icons/paragraph.svg);
}

.buttons {
  display: flex;
  justify-content: flex-end;
  padding: 0.5rem 3rem;
}

.debateInfo {
  // TODO: set it properly.
  width: 50vw;
  margin-inline: auto;
}

.debateTitleContainer {
  display: flex;
  align-items: center;
  gap: .5rem;
}

.argContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 1.6rem;
}

.argInfo {
  display: flex;
  gap: .8rem;
  align-items: center;
}

.argTitle {
  font-size: 1.7rem;
}

.argContent {
  margin-block-start: .7rem;
  width: var(--argument-content-width);
}

.commentButtons {
  width: 50vw;
  margin-inline: auto;
}

.panelsContainer {
  position: relative;
  overflow: hidden;

  --width-transition-duration: .2s;
}

.leftPanel {
  transition: width var(--width-transition-duration) ease-in-out;
}

.rightPanel {
  width: 0px;
  visibility: hidden;
  border: 1px solid black;
  transition: all var(--width-transition-duration) ease-in-out;
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
}

.rightPanel.isVisible {
  width: 300px;
  visibility: visible;
}

.argumentEditor[class] {
  width: 100%;
}

.counterargumentTitle span {
  text-decoration: underline;
  cursor: pointer;
}

.counterargumentEditor[class] {
  width: 100%;
  border: none;
}

.rightPanel .counterargumentTitle {
  border-bottom: 1px solid black;
  padding: .2rem;
}

.counterargumentEditorContainer {
  padding: .2rem;
}

.isOwnComment {
  font-weight: bold;
}

.commentActions {
  border: 1px solid black;
}

.commentActionsIcon {
  cursor: pointer;
}

.argUserInformation {
  width: var(--argument-content-width);
  margin-inline: auto;
  display: flex;
  justify-content: flex-end;
  margin-block-start: .5rem;
}

.argUserInformation .addedBy > span {
  font-style: italic;
}