.debateContent {
  margin-block-start: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 50vw;
  margin-inline: auto;
}

.addedBy, .reviewedBy {
  align-self: flex-end;
}

:where(.addedBy, .reviewedBy) > span {
  font-style: italic;
}

.buttons {
  display: flex;
  justify-content: flex-end;
  padding: 0.5rem 3rem;
}

.commentButtons {
  width: 50vw;
  margin-inline: auto;
}

.isOwnComment {
  font-weight: bold;
}

.commentActions {
  border: 1px solid black;
}

.commentActionsIcon {
  cursor: pointer;
}

.debateTitle input {
  font-size: inherit;
}