.argument {
  display: flex;
  flex-direction: column;
  border: none;
  border-radius: 5px;
}

.header {
  position: relative;
  text-align: center;
  background: var(--cl-secondary-tint-2);
  border-bottom: 2px solid var(--cl-secondary);
  padding: .5rem;
}

.actions {
  position: absolute;
  top: 0;
  cursor: pointer;
  height: 100%;
  right: .5rem;
  display: flex;
  align-items: center;
  justify-content: center;

  & h6[class] {
    color: var(--cl-secondary-shade-1);
  }
}

.content {
  flex-grow: 1;
}

.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: var(--cl-secondary-tint-2);
  padding: .3rem .5rem;
}

.body {
  flex-grow: 1;
  border: 2px solid var(--cl-secondary-shade-1);

  // Margins won't collapse.
  border-top: none;
}

.argumentEditorContainer[class] {
  width: 100%;
  border: none;
}

.title {
  color: var(--cl-secondary-shade-1);
}

.argButton {
  font-size: .8rem;
}

.username {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: .3rem;
  color: var(--cl-secondary);

  & > span {
    font-weight: bold;
  }
}