.container {
  display: flex;
  flex-direction: column;
  gap: 3rem;
}

.comments {
  display: flex;
  flex-direction: column;
  gap: 1.8rem;
  padding-block-end: 2rem;
}

.commentsList {
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  margin-inline: auto;

  // TODO: properly set this.
  width: 50vw;
}

.commentsHeader {
  display: flex;
  gap: 1.5rem;
  padding-inline-start: calc(1rem + 5vw);
}

.title {
  background: var(--cl-primary);
  line-height: normal;
  padding: 4px 8px;
  border-radius: 4px;
  color: var(--cl-secondary-shade-1);
}