.container {
  border: 1px solid black;
  border-radius: 5px;
  width: max-content;
  display: flex;
  flex-direction: column;
  align-self: center;
  min-height: 100px;
  font-size: 1rem;
  padding: 0.8rem 0.6rem;

  --quote-bar-clr: rgb(206, 208, 212);
  --quote-text-clr: rgb(101, 103, 107);
}

.input {
  outline: 0;
  height: 100%;
}

.input h1 {
  font-size: 2rem;
}

.ul,
.ol {
  margin: 0;
  padding: 0;
  margin-inline-start: 1.3rem;
}

.ul {
  list-style: disc;
}

.quote {
  margin: 0;
  margin-left: 20px;
  font-size: 15px;
  color: var(--quote-text-clr);
  border-left-color: var(--quote-bar-clr);
  border-left-width: 4px;
  border-left-style: solid;
  padding-left: 16px;
}

.textBold {
  font-weight: bold;
}

.textItalic {
  font-style: italic;
}

.textUnderline {
  text-decoration: underline;
}

.textStrikethrough {
  text-decoration: line-through;
}

.placeholder {
  color: #999;
  overflow: hidden;
  position: absolute;
  text-overflow: ellipsis;
  top: .8rem;
  left: .6rem;
  font-size: 1rem;
  user-select: none;
  display: inline-block;
  pointer-events: none;
}

.inner {
  position: relative;
}