.container {
  border: 1px solid var(--cl-neutral-3);
  border-radius: 6px;
}

.header {
  display: flex;
  justify-content: space-between;
  padding: .3rem .5rem;
  align-items: center;
}

// Idea taken from here: https://stackoverflow.com/a/69802208/9632621.
.bodyWrapper {
  display: grid;
  grid-template-rows: 0fr;
  transition: grid-template-rows .1s;
  overflow: hidden;

  &.isOpen {
    grid-template-rows: 1fr;
  }
}

.body {
  visibility: hidden;
  transition: all .1s;
  min-height: 0;
  padding: 0;
  
  .isOpen & {
    visibility: visible;
    padding: .3rem .5rem;
  }
}

.triggerButton {
  background: transparent;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  color: var(--cl-secondary);
}