.button {
  border: none;
  padding: 0.3rem 0.4rem;
  border-radius: 4px;
  font-size: .9rem;
  font-weight: bold;
  cursor: pointer;

  &:disabled {
    opacity: .4;
    cursor: not-allowed;
  }
}

.button.primary {
  &.contained {
    color: #fff;
    background: var(--cl-secondary);
  }

  &.outlined {
    background: #fff;
    color: var(--cl-secondary-shade-1);
    border: 2px solid var(--cl-secondary);
  }
}

.button.secondary {
  background-color: var(--cl-primary);
  color: var(--cl-secondary);
}

.button.success {
  &.contained {
    border: none;
    background: var(--cl-accent-2);
    color: #fff;
  }
}

.button.danger {
  &.contained {
    border: none;
    background: var(--cl-accent-1);
    color: #fff;
  }
}

.button.warning {
  &.contained {
    border: none;
    background: var(--cl-accent-3);
    color: #fff;
  }
}