.container {
  display: grid;
  grid-template-rows: auto 1fr auto;
  height: 100%;
}
.header {
  display: flex;
  border: 1px solid black;
}

.main {
  // color: red;
}

.footer {
}

.title {
  margin-inline-start: 3vw;
}