.container {
  display: grid;
  grid-template-rows: auto 1fr auto;
  height: 100%;
  z-index: 1;
  position: relative;
}

.header {
  display: flex;
  background: var(--cl-primary);
}

.title {
  color: var(--cl-secondary-shade-5);
  padding: 0.3rem 0;
}

.footer {}

.title {
  margin-inline-start: 3vw;
}