.container {
  border: 2px solid var(--cl-neutral-3);
  border-radius: 6px;
}

.title {
  text-align: center;
  font-size: 1.8rem;
  padding-block: 0.4rem;
  color: var(--cl-secondary);
}

.info {
  display: flex;
  padding: 0.3rem 0.4rem;
  justify-content: space-between;
}

.tags {
  flex-grow: 1;
  display: flex;
  justify-content: flex-end;
  flex-wrap: wrap;
  gap: .5rem;
}

.createdBy {
  display: flex;
  align-items: center;
  gap: 0.3em;
  color: var(--cl-secondary-shade-1);
  background: var(--cl-primary);
  padding: 2px 5px;
  line-height: 1;
  border-radius: 4px;
}