.container {
  display: flex;
  height: 100%;
  flex-direction: column;
  cursor: pointer;
  min-width: calc(7rem + 10vw);

  --border-radius-amount: 5px;
}

.header {
  padding: .2rem .4rem;
  background: var(--cl-primary);
  border-top-right-radius: var(--border-radius-amount);
  border-top-left-radius: var(--border-radius-amount);
}

.body {
  flex-grow: 1;
  background: var(--cl-secondary-tint-2);
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 0.4rem;
  padding: 0.7rem 0.6rem;
}

.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.3rem 0.4rem;
  background: var(--cl-secondary-tint-1);
  border-bottom-left-radius: var(--border-radius-amount);
  border-bottom-right-radius: var(--border-radius-amount);
}

.argumentLabel {
  display: inline-block;
  background-color: var(--cl-accent-1);
  color: #fff;
  padding: 0.1rem;
  border-radius: 4px;
  font-weight: bold;
}

.debateTitle,
.argumentTitle {
  display: flex;
  align-items: center;
  gap: 0.3rem;
}

.status {
  display: inline-block;
  color: #fff;
  background: var(--cl-secondary-shade-1);
  padding: 0.2rem 0.4rem;
  border-radius: 6px;
}

.moderator {
  display: flex;
  align-items: center;
  gap: 0.3rem;
  color: var(--cl-secondary-shade-1);
}