.input {
  border: 2px solid var(--cl-secondary);
  padding: .2rem .3rem;
  border-radius: 3px;
  color: var(--cl-secondary-shade-1);
  font-size: 0.9rem;
  outline: none;
  width: 100%;

  &::placeholder, &::-moz-placeholder {
    color: #ccc;
  }
}