.argument {
  border: 1px solid black;
  display: flex;
  flex-direction: column;
}

.header {
  position: relative;
  text-align: center;
  border-bottom: 1px solid black;
}

.actions {
  position: absolute;
  top: 0;
  cursor: pointer;
  height: 100%;
  right: .5rem;
}

.content {
  flex-grow: 1;
}

.footer {
  border-top: 1px solid black;
  display: flex;
  justify-content: space-between;
}

.body {
  flex-grow: 1;
}

.argumentEditorContainer[class] {
  width: 100%;
  border: none;
}