.container {
  border: 1px solid black;
  border-radius: 5px;
  width: max-content;
  display: flex;
  flex-direction: column;

  --quote-bar-clr: rgb(206, 208, 212);
  --quote-text-clr: rgb(101, 103, 107);
}

.input {
  padding: .8rem .6rem;
  outline: 0;
}

.input h1 {
  font-size: 2rem;
}

.ul,
.ol {
  margin: 0;
  padding: 0;
  margin-inline-start: 1rem;
}

.ul {
  list-style: disc;
}

.quote {
  margin: 0;
  margin-left: 20px;
  font-size: 15px;
  color: var(--quote-text-clr);
  border-left-color: var(--quote-bar-clr);
  border-left-width: 4px;
  border-left-style: solid;
  padding-left: 16px;
}

.textBold {
  font-weight: bold;
}

.textItalic {
  font-style: italic;
}

.textUnderline {
  text-decoration: underline;
}

.textStrikethrough {
  text-decoration: line-through;
}