.container {
  border: 1px solid black;
  border-radius: 5px;
  width: max-content;
  display: flex;
  flex-direction: column;
}

.input {
  padding: .8rem .6rem;
  outline: 0;
}

.input h1 {
  font-size: 2rem;
}

.ul, .ol {
  margin: 0;
  padding: 0;
  margin-inline-start: 1rem;
}

.ul {
  list-style: disc;
}